.feedback-container{
    position: absolute;
    top: 1%;
    left: 0.5%;
    display: flex;
    flex-direction: column;
    z-index: 102;
}

.background-image {
    opacity: 60%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

/*
.notification-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
    border-radius: .25rem;
    z-index: 9999; 
    text-align: center; 
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/