.feedback-container{
    position: absolute;
    top: 1%;
    left: 0.5%;
    display: flex;
    flex-direction: column;
    z-index: 102;
}

.background-image {
    opacity: 60%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

.volume-slider-container{
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 0%;
    right: 21.5%;
    z-index: 102;
}
.volume-icon{
    font-size: 25px;
}
.volume-slider-container input[type=range] {
    transform: rotate(270deg);
    transform-origin: 17% 100%;
}