body {
    font-family: sans-serif;
    background: rgb(30, 30, 30);
    color: rgb(220, 220, 220);
}

.hidden {
    display: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

canvas {
    height: 486px;
    width: 864px;
    border: 1px black solid;
}