.puzzle-grid {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-between;
}