.minimap-container {
    display: grid;
}

.minimap-element {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minimap-element-square {
    z-index: 1;
    border-radius: 6px;
    position: relative;
}

.minimap-line {
    width: 8px;
    height: 8px;
    background-color: rgb(120,120,120);
    position: absolute;
}

.notification-dot{
    width: 30%;
    height: 30%;
    border-radius: 999px;
    margin: 2px;
    position: absolute;
    animation: blink 1s infinite;
    border: #555 1px solid;
}

.puzzle-solved-status {
    background-color: #08c32e;
    top: 0;
    left: 0;
}

.puzzle-unlocked-status {
    background-color: #0d6efd;
    top: 0;
    right: 0;
}

.puzzle-hint-status {
    background-color: #fd950d;
    bottom: 0;
    left: 0;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}